[submodule "instrument-observation"]
	path = instrument-observation
	url = git@github.com:PauBet/instrument-observation.git
[submodule "RESSlib"]
    path = RESSlib
    url = https://github.com/ManelSoria/RESSlib
